<mat-card>
    <button id="order-by-menu" mat-button [matMenuTriggerFor]="orderByMenu">
        <mat-icon>sort</mat-icon>
        Order by
    </button>
    <mat-menu #orderByMenu="matMenu">
        <button (click)="sortComments(option)" *ngFor="let option of orderByOptions" mat-menu-item>
            {{option}}
        </button>
    </mat-menu>
    <div style="margin-top: 10px;" [style.display]="isLoading ? 'block' : 'none'">
        <div style="text-align: center">Loading Comments</div>
        <mat-progress-bar style="margin-top: 10px;" mode="indeterminate"></mat-progress-bar>
    </div>

    <div style="margin-top: 10px;" [style.display]="hasFailedToLoadComments ? 'block' : 'none'">
        <div style="text-align: center; color: red;">Failed to load comments</div>
    </div>


    <div style="margin-top: 10px;" [style.display]="shouldShowNoCommentText() ? 'block' : 'none'">
        <div style="display: flex; justify-content: center; align-items: center;">Be the first to <button mat-button (click)="startReply('post')">Comment</button>!</div>

    </div>
    <mat-card-content>
        <mat-form-field class="comment-input" *ngIf="repliesInProgress.hasOwnProperty('post')" subscriptSizing="dynamic">
            <textarea maxlength="5000" type="text" [formControl]="repliesInProgress['post']" matInput></textarea>
            <mat-error *ngIf="repliesInProgress['post'].hasError('required')">
                Comment cannot be empty
            </mat-error>
            <mat-error *ngIf="repliesInProgress['post'].hasError('tooLong')">
                Max comment length is 5000 characters
            </mat-error>
            <button matSuffix mat-button (click)="cancelReply('post')">Cancel</button>
            <button matSuffix mat-button (click)="submitReply('post')">Comment</button>
        </mat-form-field>
        <div *ngFor="let commentId of orderedCommentIds">
            <mat-card [style.marginLeft]="15 * comments[commentId].depth + 'px'" *ngIf="!editsInProgress.includes(commentId)"
                      [style.borderColor]="getCommentColor(comments[commentId].depth)" class="comment">
                <div class="comment-options">
                    <button *ngIf="isCommentedByCurrentUser(commentId)" matSuffix mat-button (click)="editComment(commentId)">
                        Edit
                    </button>
                    <button *ngIf="isCommentedByCurrentUser(commentId)"
                            matSuffix mat-icon-button aria-label="Clear"
                            (click)="openDeleteCommentDialog(commentId)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-card-header>
                    <mat-card-subtitle class="user">
                        {{getFormattedAuthor(comments[commentId].owner)}} • {{dateHelperService.getTimePassedString(comments[commentId].createdOn, timeOnPageLoad)}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="comment-content" id="comment{{commentId}}" #comment>{{comments[commentId].content}}</mat-card-content>
                <mat-card-actions [style.borderColor]="getCommentColor(comments[commentId].depth)">
                    <div>
                        <button mat-button *ngIf="isCommentShortened(comment)" (click)="expandComment(comment)">Read more</button>
                        <button mat-button *ngIf="isCommentExpanded(comment)" (click)="shortenComment(comment)">Show less</button>
                    </div>
                    <div>
                        <button mat-button
                                [class.button-pressed]="comments[commentId].isVotedByUser"
                                (click)="voteOnComment(commentId)">
                            Vote ({{comments[commentId].voteCount}})
                        </button>
                        <button mat-button (click)="startReply(commentId)">Reply</button>
                    </div>
                </mat-card-actions>
            </mat-card>
            <mat-form-field class="comment-input" *ngIf="repliesInProgress.hasOwnProperty(commentId)" subscriptSizing="dynamic">
                <textarea maxlength="5000" type="text" [formControl]="repliesInProgress[commentId]" matInput></textarea>
                <mat-error *ngIf="repliesInProgress[commentId].hasError('required')">
                    Comment cannot be empty
                </mat-error>
                <mat-error *ngIf="repliesInProgress[commentId].hasError('tooLong')">
                    Max comment length is 5000 characters
                </mat-error>
                <button matSuffix mat-button (click)="cancelReply(commentId)">Cancel</button>
                <button *ngIf="editsInProgress.includes(commentId); else submitReplyButton" matSuffix mat-button (click)="saveEditChanges(commentId)">Save Changes</button>
                <ng-template #submitReplyButton>
                    <button matSuffix mat-button (click)="submitReply(commentId)">Comment</button>
                </ng-template>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
