.comment {
	background-color: #363a5b;
	margin-bottom: 5px;
	display: block;
	border-left: solid 5px red;
}

.comment::after {
	border: #4d527b 1px solid;
	border-radius: 10px;
	border-left: none;
}

.comment mat-card-content {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.comment mat-card-actions {
	justify-content: space-between;
}

.comment-input {
	display: block;
}

.button-pressed {
	background-color: #292a45;
}

mat-card-content, mat-card-title {
	white-space: break-spaces;
	overflow-wrap: anywhere;
}

.delete-button {
	float: right;
}
