<mat-toolbar>
    <a mat-button class="home-button" [routerLink]="['/posts']"><span class="logo-start">Coder</span><span class="logo-end">View</span></a>
    <a *ngIf="storageService.isAdministrator()" mat-button [routerLink]="['/controlpanel']">Control Panel</a>
    <a mat-button [routerLink]="['/posts']" [queryParams]="{type: 'discussion'}">Discussions</a>
    <a mat-button [routerLink]="['/posts']" [queryParams]="{type: 'snippet'}">Code Snippets</a>
    <a mat-button [routerLink]="['/posts']" [queryParams]="{type: 'guide'}">Guides</a>
    <span class="spacer"></span>
    <a *ngIf="!storageService.isLoggedIn()" mat-button [routerLink]="['/signin']">
        <div class="center">
            Sign In
            <mat-icon style="margin-left: 5px;" svgIcon="profile"></mat-icon>
        </div>
    </a>
    <button [matMenuTriggerFor]="menu" *ngIf="storageService.isLoggedIn()" [@.disabled]="isAnimationDisabled" [@expand] mat-icon-button>
        <mat-icon style="transform: scale(1.5)" svgIcon="profile"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/profile']">
            <mat-icon>person</mat-icon>
            <span>View Profile</span>
        </a>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</mat-toolbar>
