<mat-toolbar color="primary">
    <button mat-button class="home-button" [routerLink]="['/']">CoderView</button>
    <button mat-button [routerLink]="['/posts']">Posts</button>
    <button mat-button [routerLink]="['/about']">About</button>
    <span class="spacer"></span>
    <button *ngIf="!storageService.isLoggedIn()" mat-button [routerLink]="['/signin']">Sign In</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button [routerLink]="['/profile']">Profile</button>
    <button *ngIf="storageService.isLoggedIn()" mat-button (click)="logout()">Sign Out</button>
</mat-toolbar>
