<mat-toolbar color="primary">
    <a mat-button class="home-button" [routerLink]="['/']">CoderView</a>
    <a mat-button [routerLink]="['/posts']">Posts</a>
    <a mat-button [routerLink]="['/about']">About</a>
    <span class="spacer"></span>
    <a *ngIf="!storageService.isLoggedIn()" mat-button [routerLink]="['/signin']">Sign In</a>
    <a *ngIf="storageService.isLoggedIn()" mat-button [routerLink]="['/profile']">Profile</a>
    <button *ngIf="storageService.isLoggedIn()" mat-button (click)="logout()">Sign Out</button>
</mat-toolbar>
