<section>
    <h1>Welcome to CoderView!</h1>
</section>

<section>
    <h2>Get Started</h2>
    <p>Ready to embark on your coding journey or take your skills to the next level? Join CoderView today and become part of a passionate community dedicated to coding excellence.</p>
    <p>Start exploring, connecting, and coding with CoderView!</p>

    <mat-card [routerLink]="['/posts']" class="card">
        <mat-card-header>
            <mat-card-title>Discussions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p></p>
        </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="['/posts']" [queryParams]="{type: 'snippet'}" class="card">
        <mat-card-header>
            <mat-card-title>Code Snippets</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p></p>
        </mat-card-content>
    </mat-card>
</section>
