<section>
    <h1>Welcome to CoderView!</h1>
</section>

<section>
    <h2>Get Started</h2>
    <p>Ready to embark on your coding journey or take your skills to the next level? Join CoderView today and become part of a passionate community dedicated to coding excellence.</p>
    <p>Start exploring, connecting, and coding with CoderView!</p>

    <a [routerLink]="['/posts']" [queryParams]="{type: 'discussion'}">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Discussions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p></p>
            </mat-card-content>
        </mat-card>
    </a>

    <a [routerLink]="['/posts']" [queryParams]="{type: 'snippet'}">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Code Snippets</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p></p>
            </mat-card-content>
        </mat-card>
    </a>
</section>
