<div style="width: 400px;">
    <h1 mat-dialog-title>Reset password</h1>
    <div mat-dialog-content *ngIf="!isPasswordReset()">
        Are you sure you want to reset password for this user?
    </div>
    <div mat-dialog-content *ngIf="isPasswordReset()">
        New password:
        <div style="color: var(--bright-text);">{{newPassword}}</div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <button mat-button *ngIf="!isPasswordReset()" (click)="resetPassword()">Reset password</button>
    </div>
</div>
