<mat-card>
    <mat-card-content>
        <div class="row1">
            <mat-form-field>
                <mat-label>Post type</mat-label>
                <mat-select [formControl]="postTypeFormControl">
                    <mat-option *ngFor="let postType of postService.postTypes" [value]="postType.value">
                        {{postType.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field id="tags">
                <mat-label>Tags</mat-label>
                <mat-chip-grid [formControl]="chipFormControl" #chipGrid aria-label="Enter tags">
                    <mat-chip-row *ngFor="let tag of appliedTags"
                                  (removed)="removeTag(tag)"
                                  [editable]="true"
                                  (edited)="editTag(tag, $event)"
                                  [aria-description]="'press enter to edit ' + tag">
                        {{tag}}
                        <button matChipRemove [attr.aria-label]="'remove ' + tag">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <input #tagInput maxlength="30" placeholder="New tag..."
                           [matChipInputFor]="chipGrid"
                           (matChipInputTokenEnd)="addTag($event)"
                           [matAutocomplete]="auto"
                           [formControl]="tagFormControl" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event)">
                        <mat-option *ngFor="let tag of availableTagOptions | async" [value]="tag">
                            {{tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-chip-grid>
                <mat-error *ngIf="chipFormControl.hasError('isMaxCountReached')">
                    Cannot have more than 20 tags
                </mat-error>
                <mat-error *ngIf="chipFormControl.hasError('invalidTag')">
                    Invalid tag
                </mat-error>
            </mat-form-field>
            <mat-form-field style="margin-left: 20px" *ngIf="postTypeFormControl.value == 'snippet'">
                <mat-label>Programming Language</mat-label>
                <mat-select [(value)]="selectedProgrammingLanguage" (selectionChange)="selectLanguage($event)">
                    <mat-option *ngFor="let language of programmingLanguagesService.programmingLanguages" [value]="language">
                        {{language}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <form>
            <mat-form-field class="title">
                <mat-label>Title</mat-label>
                <input maxlength="150" [formControl]="titleFormControl" matInput>
                <mat-error *ngIf="titleFormControl.hasError('required')">
                    Title is required
                </mat-error>
                <mat-error *ngIf="titleFormControl.hasError('minlength') || titleFormControl.hasError('maxlength')">
                    Title must be 5 to 150 characters long
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="postTypeFormControl.value == 'discussion' else codeEditor" class="post">
                <mat-label>Content</mat-label>
                <textarea #content maxlength="40000" [formControl]="contentFormControl" matInput></textarea>
                <mat-error *ngIf="contentFormControl.hasError('required')">
                    Content is required
                </mat-error>
                <mat-error *ngIf="contentFormControl.hasError('minlength') || contentFormControl.hasError('maxlength')">
                    Content must be 5 to 40 000 characters long
                </mat-error>
            </mat-form-field>
            <ng-template #codeEditor>
                <ngx-monaco-editor class="editor" [formControl]="contentFormControl" [options]="editorOptions"></ngx-monaco-editor>
                <span style="position: absolute;margin-top: -25px;margin-left: 5px;color: #8b8b8b">{{editorOptions.language}}</span>
                <mat-error *ngIf="contentFormControl.hasError('minlength') || contentFormControl.hasError('maxlength')">
                    Content must be 5 to 40 000 characters long
                </mat-error>
            </ng-template>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <div *ngIf="isModifyingExistingPost; then editButtons; else createButtons"></div>
        <ng-template #editButtons>
            <button *ngIf="isModifyingExistingPost" mat-button (click)="openDeletePostDialog()">Delete</button>
            <div>
                <a mat-button [routerLink]="['../']">Cancel</a>
                <button mat-button type="submit" (click)="saveChanges()">Save changes</button>
            </div>
        </ng-template>
        <ng-template #createButtons>
            <div></div>
            <div>
                <a mat-button [routerLink]="['/posts']">Cancel</a>
                <button *ngIf="!isModifyingExistingPost" mat-button type="submit" (click)="createNewPost()">Create Post</button>
            </div>
        </ng-template>
    </mat-card-actions>
</mat-card>
