:host {
	width: 100%;
	display: block;
	max-width: 500px;
	margin: auto;
}

mat-form-field {
	width: 100%;
}

mat-card {
	padding: 20px;
}

.error-message {
	color: red;
}

mat-card-title {
	text-align: center;
}
