<h1>Sign in</h1>
<form
    #f="ngForm"
    (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" name="email" matInput placeholder="Ex. pat@example.com"
                   [(ngModel)]="form.email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" name="password" matInput [(ngModel)]="form.password">
        </mat-form-field>
    </p>
    <button mat-button [routerLink]="['/signup']">Create an account</button>
    <button mat-raised-button>Sign In</button>
</form>
