// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use 'sass:map';

@include mat.core();

$primary: (
    50 : #fff7e0,
    100 : #ffecb3,
    200 : #ffe080,
    300 : #ffd34d,
    400 : #ffc926,
    500 : #ffc000,
    600 : #ffba00,
    700 : #ffb200,
    800 : #ffaa00,
    900 : #ff9c00,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe3bf,
    A700 : #ffd8a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent: (
    50 : #e3e3e5,
    100 : #b9babe,
    200 : #8b8c92,
    300 : #5d5e66,
    400 : #3a3c46,
    500 : #171925,
    600 : #141621,
    700 : #11121b,
    800 : #0d0e16,
    900 : #07080d,
    A100 : #5252ff,
    A200 : #1f1fff,
    A400 : #0000eb,
    A700 : #0000d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$angularapp-primary: mat.define-palette($primary);
$angularapp-accent: mat.define-palette($accent);
$angularapp-warn: mat.define-palette(mat.$red-palette);

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$angularapp-theme: mat.define-dark-theme(
	(
		color: (
			primary: $angularapp-primary,
			accent: $angularapp-accent,
			warn: $angularapp-warn
		),
		typography: mat.define-typography-config(),
	)
);

$light-theme: mat.define-light-theme(
	(
		color: (
			primary: $my-primary,
			accent: $my-accent,
			warn: $my-warn
		),
		typography: mat.define-typography-config(),
	)
);

$material-theme-overrides: (
  'color': (
    'background': (
      'background': #1f2133,
      'card': #2d304b,
	  'app-bar': #151622,
    ),
  ),
);

$light-theme-overrides: (
  'color': (
    'background': (
      'background': #fff9e3,
      'card': #fff3c8,
	  'app-bar': #ffe9c8,
    ),
  ),
);
$light-theme: map.deep-merge($light-theme, $light-theme-overrides);

$angularapp-theme: map.deep-merge($angularapp-theme, $material-theme-overrides);

.light-theme {
	@include mat.all-component-themes($light-theme);
	--surface-color: #fff3c8;
	--background-color1: #fefaba;
	--background-color2: #fce674;
	--comment-color: #fef4d1;
	--comment-border: #00000033;
	--button-pressed: #e1d7a3;
	--code-editor-background: white;
	--table-hover-color: #fde8c7;
	--logo-changing-color: darkblue;
	--bright-text: black;
}
.dark-theme {
	@include mat.all-component-themes($angularapp-theme);
	--surface-color: #161d2c;
	--background-color1: #161d2c;
	--background-color2: #242739;
	--comment-color: #363a5b;
	--comment-border: #4d527b;
	--button-pressed: #292a45;
	--code-editor-background: #1e1e1e;
	--table-hover-color: #3d4059;
	--logo-changing-color: white;
	--bright-text: white;
}
