<mat-card class="post">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{content}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="startReply(-1)">Comment ({{getCommentCount()}})</button>
        <button mat-button [class.button-pressed]="isVotedByUser" (click)="voteOnPost()">Vote ({{voteCount}})</button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-content>
        <mat-form-field class="comment" *ngIf="replies.hasOwnProperty(-1)">
            <input type="text" [(ngModel)]="replies[-1]" matInput>
            <button matSuffix mat-button (click)="cancelReply(-1)">Cancel</button>
            <button matSuffix mat-button (click)="submitReply(-1)">Comment</button>
        </mat-form-field>
        <div *ngFor="let commentId of getOrderedCommentIds()">
            <mat-card [style.marginLeft]="15 * comments[commentId].depth + 'px'" class="comment">
                <mat-card-header>
                    <mat-card-subtitle>{{comments[commentId].owner}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        {{comments[commentId].content}}
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [class.button-pressed]="comments[commentId].isVotedByUser" (click)="voteOnComment(commentId)">Vote ({{comments[commentId].voteCount}})</button>
                    <button mat-button (click)="startReply(commentId)">Reply</button>
                </mat-card-actions>
            </mat-card>
            <mat-form-field class="comment" *ngIf="replies.hasOwnProperty(commentId)">
                <input type="text" [(ngModel)]="replies[commentId]" matInput>
                <button matSuffix mat-button (click)="cancelReply(commentId)">Cancel</button>
                <button matSuffix mat-button (click)="submitReply(commentId)">Comment</button>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
