.post {
	margin-bottom: 10px;
}

.post mat-card-title {
	font-size: x-large;
}

.post mat-card-content {
	min-height: 30vh;
	margin-top: 20px;
}

.comment {
	background-color: #565656;
	margin-bottom: 5px;
	display: block;
	border-left: solid 5px red;
}

.comment mat-card-content {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.comment mat-card-actions {
	justify-content: space-between;
}

.comment-input {
	display: block;
}

.button-pressed {
	background-color: #292a45;
}

mat-card-content, mat-card-title {
	white-space: break-spaces;
	overflow-wrap: anywhere;
}

.delete-button {
	float: right;
}

.code {
	margin-top: 20px;
	display: block;
	background: #1f2133;
	border: #4d527b 1px solid !important;
	border-radius: 10px;
	padding: 10px;
	font-family: monospace !important;
	cursor: pointer;
}

.code mat-icon {
	float: right;
}

#post-edit-button {
	float: right;
	width: fit-content;
	margin: 10px;
}

.editor {
	border-radius: 10px;
	border: 10px solid #1e1e1e;
	height: 50vh;
}

::ng-deep .editor-container {
	height: 100% !important;
	background: #1e1e1e;
}
