<div class="heading">
    <h1>{{getPostTypeTitle()}}</h1>
    <a mat-raised-button color="primary" [routerLink]="['/new_post']" [queryParams]="{ type: postTypeFormControl.value }">Create a new post</a>
</div>

<mat-expansion-panel #searchPanel [hideToggle]="true">
    <mat-expansion-panel-header [collapsedHeight]="getCollapsedHeight()" [expandedHeight]="getExpandedHeight()">
        <mat-form-field class="search-bar" appClickStopPropagation subscriptSizing="dynamic">
            <input (keydown)="handleSearch($event)" [(ngModel)]="unappliedTitleFilter" matInput placeholder="Search discussion">
            <div matSuffix class="search-suffix">
                <button mat-button (click)="applyTitleFilter()">Search</button>
                <button mat-icon-button (click)="toggleAdvancedSearch()">
                    <mat-icon *ngIf="!searchPanel.expanded">expand_more</mat-icon>
                    <mat-icon *ngIf="searchPanel.expanded">expand_less</mat-icon>
                </button>
            </div>
        </mat-form-field>
        <mat-form-field class="post-type-field" appClickStopPropagation subscriptSizing="dynamic">
            <mat-label>Post type</mat-label>
            <mat-select [formControl]="postTypeFormControl">
                <mat-option *ngFor="let postType of postService.postTypes" [value]="postType.value">
                    {{postType.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel-header>
    <div id="advancedSearch">
        <mat-form-field id="tagSearch" subscriptSizing="dynamic">
            <mat-label>Search by tags</mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter tags">
                <mat-chip-row *ngFor="let tag of appliedTagFilters"
                              (removed)="removeTagFilter(tag)"
                              [aria-description]="'press enter to edit ' + tag">
                    {{tag}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                <input #tagInput maxlength="30" placeholder="New tag..."
                       [matChipInputFor]="chipGrid"
                       (matChipInputTokenEnd)="addTagFilter($event)"
                       [matAutocomplete]="auto"
                       [formControl]="tagFormControl" />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event)">
                    <mat-option *ngFor="let tag of availableTagOptions | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
            </mat-chip-grid>
        </mat-form-field>
        <mat-form-field id="languageSearch" subscriptSizing="dynamic" *ngIf="postTypeFormControl.value == 'snippet'">
            <mat-label>Programming Language</mat-label>
            <mat-select [(value)]="programmingLanguageFilter" (selectionChange)="filterPosts()">
                <mat-option *ngFor="let language of programmingLanguagesService.programmingLanguages" [value]="language">
                    {{language}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</mat-expansion-panel>
<div>
    <mat-card class="card" *ngFor="let post of posts" [routerLink]="['/post', post.id]">
        <mat-card-header *ngIf="post.tags.length > 0">
            <mat-chip-set cdkDropList
                          cdkDropListOrientation="horizontal">
                <mat-chip appClickStopPropagation (click)="filterByTag(tag)" cdkDrag *ngFor="let tag of post.tags">
                    {{tag}}
                </mat-chip>
            </mat-chip-set>
        </mat-card-header>
        <mat-card-header>
            <mat-card-title><a [routerLink]="['/post', post.id]">{{post.title}}</a></mat-card-title>
            <mat-card-subtitle>{{getFormattedAuthor(post.author)}} • {{dateHelperService.getTimePassedString(post.createdOn, timeOnPageLoad)}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="postTypeFormControl.value == 'discussion'">{{post.content}}</mat-card-content>
        <mat-card-content appClickStopPropagation style="cursor: default" *ngIf="postTypeFormControl.value == 'snippet'">
            <mat-icon (click)="openCopySnackBar()" [cdkCopyToClipboard]="post.content" style="position: absolute; float: right; z-index: 10; margin: 10px; cursor: pointer">content_copy</mat-icon>
            <ngx-monaco-editor class="editor" [options]="{ theme: 'vs-dark', language: post.programmingLanguage, readOnly: true, automaticLayout: true }" [(ngModel)]="post.content"></ngx-monaco-editor>
            <span style="position: absolute;margin-top: -25px;margin-left: 5px;color: #8b8b8b">{{post.programmingLanguage}}</span>
        </mat-card-content>
        <mat-card-actions>
            <a [routerLink]="['/post', post.id]" mat-button>Comment ({{post.commentCount}})</a>
            <button mat-button [class.button-pressed]="post.isVotedByUser" (click)="voteOnPost($event, post)">Vote ({{post.voteCount}})</button>
        </mat-card-actions>
    </mat-card>
    <mat-progress-bar [style.visibility]="isTryingToLoadPosts ? 'visible' : 'hidden'" mode="indeterminate"></mat-progress-bar>
</div>
