.card {
    cursor: pointer;
    margin: 20px 0px;
}

.create-post-button {
    display: block;
    width: 100%;
}

.button-pressed {
	background-color: #393939;
}

.heading {
	display: flex;
	align-items: center;
	width: 100%;
}

.heading h1 {
	flex-grow: 1;
}

.search-bar {
	display: flex;
	width: 100%;
}

.search-bar :first-child {
	flex-grow: 1;
	margin-right: 20px;
}

mat-card-content, mat-card-title {
	white-space: break-spaces;
	overflow-wrap: anywhere;
}

code {
	margin-top: 10px;
	display: block;
	background: #2e2b2b;
	border: #808080 1px solid;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	min-height: 25px;
}

code mat-icon {
	float: right;
}

mat-card-title {
	font-size: x-large;
}

mat-card-content {
	margin-top: 20px;
}
