.card {
    cursor: pointer;
    margin: 20px 0px;
}

.create-post-button {
    display: block;
    width: 100%;
}

.button-pressed {
	background-color: #393939;
}

.heading {
	display: flex;
	align-items: center;
	width: 100%;
}

.heading h1 {
	flex-grow: 1;
}

.search-bar {
	width: 100%;
}
