.card {
    cursor: pointer;
    margin: 20px 0px;
}

.create-post-button {
    display: block;
    width: 100%;
}

.button-pressed {
	background-color: #292a45;
}

.heading {
	display: flex;
	align-items: center;
	width: 100%;
}

.heading h1 {
	flex-grow: 1;
}

mat-card-content, mat-card-title {
	white-space: break-spaces;
	overflow-wrap: anywhere;
}

code {
	margin-top: 10px;
	display: block;
	background: #1f2133;
	border: #4d527b 1px solid;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
	min-height: 25px;
}

code mat-icon {
	float: right;
}

mat-card-title {
	font-size: x-large;
}

mat-card-content {
	margin-top: 20px;
}

mat-expansion-panel {
	pointer-events: none;
	margin-bottom: 10px;
}	

mat-expansion-panel:hover{
	--mat-expansion-header-hover-state-layer-color: transparent;
}

#advancedSearch, mat-expansion-panel-header mat-form-field {
	pointer-events: all;
}

#advancedSearch {
	padding-right: 8px;
}

#advancedSearch mat-form-field {
	width: 100%;
}

mat-expansion-panel-header {
	padding-top: 4px;
	padding-bottom: 4px;
}

@media only screen and (max-width: 600px) {
	::ng-deep mat-expansion-panel-header span {
		flex-wrap: wrap;
	}
	mat-expansion-panel-header {
		height: 200px;
	}
	.post-type-field {
		flex: 1;
	}
	.search-bar {
		margin-right: 0px !important;
		margin-bottom: 11px;
	}
}

.search-bar {
	flex: 1;
	margin-right: 20px;
	min-width: 300px;
}

.search-suffix {
	display: flex;
	align-items: center;
}

.post-type-field {
	min-width: 200px;
}
